
------

# Conditionals, Loops





### Table of Contents


1 - [Conditionals](#section1)<br>  

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.1 - [Booleans and Comparison Operators](#subsection1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.2 - [Conditional Statements](#subsection2)<br>

2 - [Loops](#section2) <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.1 - [For Loops](#subsection3)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.2 - [While Loops](#subsection4)<br>

In [1]:
#Make sure to import the math library

import math

---
# Conditionals <a id='section1'></a>

Instead of a sequential execution, we often need to execute a specific code based on a condition. It also helps in decision-making, preferably when we prefer to execute a piece of code only if certain conditionals are met.

## 1.1 Booleans and Comparison Operators <a id='subsection1'></a>

Booleans can only take **True** or **False** values. They represent the "truth" values in a logical expression, and can help us answer questions that require a binary responses (either yes or no) whenever a given condition is or is not met.

In [2]:
# EXAMPLE 

0 < -1

False

In [3]:
# EXAMPLE 

abs(-2) < abs(2)

False

Now, let's check the type of each of the examples above. We will using the **type** function.

In [4]:
# EXAMPLE 
type(0< -1)

bool

In [5]:
# EXAMPLE  
type(abs(-2) < abs(2))

bool

Here is a list of **comparison operators**

|Operator| Meaning|
|--------|---------|
|< | less than |
|<= | less than or equal to|
|> | greater than |
|>= | greater than or equal to|
|!= | not equal to|
|== | equal to|

Be careful when using the equal to operator **==**. 

Recall that **=** is used to assign a value to a variable.

Let us try some exercises:

**Exercise 1**  Write "4 equal to 'four'" in code using conditionals.

In [6]:
# YOUR CODE
4 == "four"

False

**Exercise 2**  Write "2 equal to 1 + 1" in code using conditionals.

In [7]:
# YOUR CODE 
2 == 1+1

True

**Exercise 3**  Write "0 equal to False'" in code using conditionals.

In [8]:
# YOUR CODE
0 == False

True

## 1.2 Conditional Statements <a id='subsection2'></a>

A conditional statement is where what the code does depends on some condition. Think of them like giant flow charts, where what you do next depends on the answer to a question.
<img src="images/flow_chart.jpeg">
Image from https://welldonestuff.com/inconsequential-dilemmas-funny-flow-charts

A conditional statement has the following form:

`if <condition>:
    <do_something> 
elif <condition>:
    <do_something>
else:
     <do_something>`

In [9]:
# EXAMPLE

if 5 < 6:
    print("True. 5 is less than 6!")
else:
    print("False. What is math?")

True. 5 is less than 6!

**How do conditional statements work?**
* First, it evaluated the header expression(which is the `if` statement). If the statement is True, then it executes the first suite otherwise, it checks the condition of the `elif`, and so on. 
* It will only execute the suite (do_something) of the `else` clause, if the conditions of the `if` and `elif` are false (not met). 


**Some notes about conditional statements:**
* You can have as many `elif` expressions as you want, but you can only have one `if` and one `else` statement. 
* `else` always comes at the end.
* You do not always need an `else`.
* When you execute a conditional statement, you must ALWAYS consider the order of you statements.

Let's say I want to write code that outputs sentence for how many bananas I want to buy.

In [10]:
# Example 
n_bananas = 5

statement = "I want to buy " + str(n_bananas) + ' banana.'
print(statement)


# Does it still sound right if I have 5 bananas?

I want to buy 5 banana.

In [11]:
n_banana = -2
statement = "I want to buy " + str(n_banana) + ' banana'

if n_banana == 1:
    statement +='.'
else:
    statement += 's.'
    
print(statement)

# what if some joker puts in a negative number of bananas?

I want to buy -2 bananas.

In [12]:
n_banana = 0

statement = "I want to buy " + str(n_banana) + ' banana'
if n_banana == 1:
    statement +='.'
elif n_banana < 0:
    statement = "That's silly, I can't buy " + str(n_banana) + ' bananas.'
else:
    statement += 's.'
    
print(statement)

I want to buy 0 bananas.

Nested conditional statements are when you have conditional statements inside other conditional statements.

In [13]:
#what if the store only has 10 bananas?
n_banana = 15
max_bananas = 10

statement = "I want to buy " + str(n_banana) + ' banana'

if n_banana == 1:
    statement +='.'
elif n_banana < 0:
    statement = "That's silly. I can't buy " + str(n_banana) + ' bananas.'
else:
    if n_banana<max_bananas:
        statement += 's.'
    else: 
        statement += 's, but the store only has '+str(max_bananas)+'.'
    
print(statement)

I want to buy 15 bananas, but the store only has 10.

In [14]:
# EXAMPLE

var1 = 200
var2 = 200
if var2 > var1:
    print("var2 is greater than var1")
else: 
    print("var2 is less than var1")

var2 is less than var1

Note in the above example, since the condition in the if statement was not met, the else statement is executed. How will you modify the above code to print "var 1 is equal to var 2"?

In [15]:
# EXERCISE

var1 = 200
var2 = 200
if var2 > var1:
    print("var2 is greater than var1")
elif var2 == var1:
    print("var2 is equal to var1")
else:
    print("var2 is less than var1")

var2 is equal to var1

Before running the example below, guess what the output will be.

What might the output be if you change the value of fizzbuzz to 9? 20? 32? Try it out!

In [20]:
# EXAMPLE 

fizzbuzz = 32
if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
    print("fizzbuzz")
elif fizzbuzz % 3 == 0:
    print("fizz")
elif fizzbuzz % 5 == 0:
    print("buzz")

fizzbuzz-dud

If you tried fizzbuzz = 32, you should have seen that the code did not provide any output. This is because all conditionals were evaluated to be false and all print statements were skipped.


Edit the above code so that it prints "fizzbuzz-dud" if fizzbuzz is not divisible by 3 or 5.

In [21]:
# EXERCISE 

fizzbuzz = 32

#EDIT THE CODE BELOW
if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
    print("fizzbuzz")
elif fizzbuzz % 3 == 0:
    print("fizz")
elif fizzbuzz % 5 == 0:
    print("buzz")
else:
    print("fizzbuzz-dud")

fizzbuzz-dud

#### Pay Attention to the indents
Anything that doesn't have an indent isn't part of the conditional statement.

In [23]:
# EXAMPLE 

var1 = 1
var2 = 2
if var2 > var1:
    var2 = 0
print("var2 is equal to var1")

var2 is equal to var1

The print statement in the above example is not within the scope of the conditional statement. As such, it gets executed regardless of whether the condition is met or not.

What is the final value of var2 after running the entire code?

In [24]:
# EXERCISE 

# if the string is equal to "49ers", print "Go Niners", if not print "Not my team". 

team = "49ers"

if team == "49ers":
    print("Go Niners")
else:
    print("Not my team")

Go Niners

**Conditional Statements in Functions**

In the cell below, we are going to define a function that will multiply the two numbers you give it only if they are not equal to each other.

In [25]:
# EXAMPLE

def mult_not_eq(x, y):
    # if the first number is not equal to the second
    if x!=y:
    # I will multiply them
        return x*y
    else:
        print("Use the square function instead")
        
        
mult_not_eq(2, 2)

Use the square function instead

Now that we have written the function, we can use the function.

In [26]:
mult_not_eq(2, 2)

Use the square function instead

Now it's time for you to define a function. Create a function that will add up two numbers, but only if they are not equals.

In [32]:
# EXERCISE

def sum_not_equals(x, y):
    if x!=y:
        return x+y
    else:
        print("Can't add :(")
    
    
sum_not_equals(1, 1)

---
# Loops <a id='section2'></a>

What are loops useful for? 
- Sometimes we want to perform some operation on a list but doing it on each element individually can be very tedious!
- A loop goes through a collection of data types and **executes** some state statement **for each value** in that collection of data. 
- Examples of data types are: list, array, characters string, dictionary, and other collections

---
## 2.1 For  Loops <a id='subsection3'></a>

Syntax: 

**for** var **in** iterable:

    statement 
    statement 

    
* var - it takes items from iterable one by one. 
* iterable - it's a collection of objects.
* indentation - loop body MUST be indented.
* loop body - first two statements

In [34]:
# EXAMPLE 

greeting = 'Hello'

# to print each letter in greeting without using loop 

print(greeting[0])
print(greeting[1])
print(greeting[2])
print(greeting[3])
print(greeting[4])

H
e
l
l
o

In [35]:
# EXAMPLE 

greeting = 'Hello'

# here we are using the for loop

for letter in greeting:
	print(letter)

H
e
l
l
o

The for loop helps us write the code in a simpler way with less code we can iterate over. This minimizes confusion, reduces lines of code, and runs faster.

In [36]:
# EXAMPLE 

# square each value in the list 

for x in [1,2,3]:
    print("x is ", x)
    print("x**2 is ", x**2)

x is  1
x**2 is  1
x is  2
x**2 is  4
x is  3
x**2 is  9

In [37]:
# EXAMPLE 

# print each item in the list. 
# recall that the elements in the list do not have to have the same type 

for i in [1, 2.0, "hi!"]:
    print(i)

1
2.0
hi!

Create a for-loop that multiplies every number in the list by 3 (and outputs it on every step).

In [39]:
# EXERCISE 

numbers = [1, 5, 7, 0]

for i in numbers:
    print(i*3)

3
15
21
0

For loops can use range functions as well:

In [40]:
# EXAMPLE 

for i in range(5):
    print(i)

0
1
2
3
4

In [41]:
#EXAMPLE

for i in range(1,7):
    print(i)

1
2
3
4
5
6

In [42]:
#EXERCISE

#Print numbers 2 through 8

for i in range(2,9):
    print(i)

2
3
4
5
6
7
8

In [43]:
#EXERCISE

#Print ONLY even numbers between 2 and 8

for i in range(2,9,2):
    print(i)

2
4
6
8

In [44]:
# EXAMPLE 

# calculate the area for circles with different radius

radiuses = [1, 3, 5, 7, 9]

for radius in radiuses: 
    area = math.pi*radius**2
    print(area)

3.141592653589793
28.274333882308138
78.53981633974483
153.93804002589985
254.46900494077323

In [48]:
# EXERCISE

# calculate the volume of spheres with different radius by modifying the above code 

radiuses = [1, 3, 5, 7, 9]

for radius in radiuses: 
    volume = 4/3 * math.pi * radius ** 3
    print(volume)

4.1887902047863905
113.09733552923254
523.5987755982989
1436.7550402417319
3053.6280592892786

In [49]:
# EXAMPLE 
# Let us see an example that uses our knowledge of lists, conditional statements, and loops

# print the colors stored in an array
color = ["green", "pink", "red"]
for c in color:
    if c == "pink":
        print (c + " is my favorite color")

pink is my favorite color

Why did the color **red** not print?

In [50]:
# EXERCISE (HINT: you can check for a letter in a string using the command in ("g" in green) = True )

#Print only colors that have the letter 'e'
color = ["green", "pink", "red"]
for c in color:
    if "e" in c:
        print(c)

green
red

As we mentioned before, you can loop through any iterable data type or data sctructure. That means that we can even loop through dictionaries.

In [51]:
# EXAMPLE

cities = {1:'New York', 2:'Los Angeles', 3:'Miami', 4:'Chicago'}
    
for key in cities:
    print(key)

1
2
3
4

In the cell below, see if you can print out the corresponding value for each key:

In [52]:
# EXERCISE

for key in cities:
    print(cities[key])

New York
Los Angeles
Miami
Chicago

---
## 2.2 While Loops  <a id='subsection4'></a>

Syntax:

**while** condition: 

    statement 
    statement 

    
* condition - any expression that evaluates to true or false (so, our conditionals!)
* loop body - first and second statements. It is excludes as long as the condition is true. 
* else clause - it is executed if the condition becomes false 
* indentation - loop body must be indented.

In [53]:
# EXAMPLE

# Iterate until x becomes 0 
x = 10
while x > 0:
    print(x)
    x = x-2

10
8
6
4
2

In [54]:
# EXAMPLE

x = 10
while x > 0:
    print(x)
    x = x - 1
else:
    print('Done with my countdown!')

10
9
8
7
6
5
4
3
2
1
Done with my countdown!

In [56]:
#EXAMPLE

#Add the first 5 natural numbers using the while loop.

n = 5  # upper limit
sum = 0 #initialize the variable for sum
i = 1
while i <= n:
    sum = sum+ i
    i += 1     #increment the counter
# print the sum
print("the sum :",  sum)

the sum : 15

In [60]:
#EXERCISE

#Create a while loop that multiplies the first 5 numbers by 2

n = 5
i = 1
while i<=n:
    print(i*2)
    i += 1

2
4
6
8
10

In [67]:
# EXERCISE

# Create a while loop that prints the square of the first 4 even numbers
# Hint use the modulus (%) operator to see if it's even

x = 1 
while x < 10:
    if x % 2 == 0:
        print(x ** 2)
    x += 1

4
16
36
64

For the below exercise, print each letter of a word of your choice.

*Hint: Remember that each letter of a string can be accessed with index (similar to a list):*

In [57]:
example_word = "cat"

print(example_word[0])
print(example_word[1])
print(example_word[2])

c
a
t

In [58]:
#EXERCISE

#Print each letter of a word of your choice

word = "crane"

x = 0
while x < len(word): #Hint: What built-in Python function gives you the length of a string?
    print(word[x])
    x+=1

c
r
a
n
e

---
Notebook developed by: Kseniya Usovich, Rachel McCarty, Baishakhi Bose, Alisa Bettale, Laurel Hales