
------

# Functions, Lists, Dictionaries


### Table of Contents


1 - [Functions](#section1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.1 - [Built-in Functions](#subsection1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.2 - [Defining Functions](#subsection2)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.3 - [Importing Libraries](#subsection3)<br>

2 - [Lists](#section2)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.1 - [List Iteration and Slicing `[ : ]`](#subsection4)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.2 - [Adding Elements](#subsection5)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.3 - [Deleting Elements](#subsection6)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.4 - [Length of a list](#subsection7)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.5 - [Operations on a list](#subsection8)<br>

3 - [Dictionaries](#section3)<br>

---
# Functions<a id='section1'></a>

### 1.1 Built-in Functions <a id='subsection1'></a>

Python does not have a lot of built-in (aka available by default) functions and methods. But it does have some. We will go over a few useful functions and methods that will be good for you to know. 

If something is a function, it will appear in green color.

In [ ]:
# EXAMPLE 

a = -4
print(abs(a))

In [ ]:
# EXAMPLE 

max(2, 5, 9, 7)

In [ ]:
# EXAMPLE 

min(3, 7)

Another built-in function you will most likely use in your coding a lot, is  **len(   )**. It is used to learn about the length of different objects.

### <center>  * * * Good Coding Practice Moment * * * <center>
#### Even the pros use Google 

If you can't remember how to use a function, you want to find a new function, or you just aren't sure how to code something, Google is a great place to start. Someone else has likely had the same question before and posted on a website. It may take some time to learn how to understand coding blogs and websites, but then you can find the answers you need, just like the rest of us, on Google. 

### <center> * * * * * * * * * * * * * * * * * * * * * * * * * * * * <center>

In [ ]:
# EXAMPLE

len("dog")

In [6]:
# EXERCISE

# what do you think this cell will output?


len("dog ")

4

In the example below, we will use a built-in **method**. There's no big difference between the a function and a method except for the syntax.

Functions (not only the built-in ones) are usually used in the form of

`function(argument 1, argument n)`

<img src='images/function.png'>

Unlike functions, methods are usually added at the end of the variable.

`variable.method()`
<img src ='images/method.png'>

### <center>  * * * Good Coding Practice Moment * * * <center>
#### Google really is super helpful. 

If you can't remember if something is a function or a method, you can always google it. We've all done it before. You can also try both ways and see which one works. 

### <center> * * * * * * * * * * * * * * * * * * * * * * * * * * * * <center>

In [7]:
# EXAMPLE 

hello = "Hello World"

print(hello.upper())
print(hello)

HELLO WORLD
Hello World

Have you noticed that the variable **hello** didn't change? Can you think why is that?

In [2]:
# EXAMPLE 

hello = "Hello World"
print(hello.lower())
print(hello)

hello world
Hello World

In the cell below, create a variable **phrase** which tells us what school you go to. Then change all the letters to upper-cased letters.

In [1]:
# EXERCISE 


phrase = "I go to Hayward High School"
phrase = phrase.upper()

print(phrase)

I GO TO HAYWARD HIGH SCHOOL

### <center>  * * * Good Coding Practice Moment * * * <center>
#### There's probably a function for that. 

There are a lot of functions out there. Whether you are trying to figure out how to sort a bunch of numbers, generate a random number, or find a specific character in a long string, someone else has probably already written a function that does that. Later we will go through how to access whole libraries of functions so you can use them. 

### <center> * * * * * * * * * * * * * * * * * * * * * * * * * * * * <center>

### 1.2 Defining Functions <a id='subsection2'></a>

A function is a block code that you can reuse to perform a specific action. In the next cell, we will be defining a simple one-line function that takes one argument.

In [5]:
# EXAMPLE

def degrees_FtoK(F):
    # This function converts temperatures measured in 
    #degrees Fahrenheit to Kelvin. 
    #Inputs: 
        # F - temperature measured in degrees Fahrenheit
    #Outputs:
        # K - temperature in Kelvin.
        
    K =(F +459.67)*5/9
    return K

Here's how to use the function:

In [ ]:
#EXAMPLE

# Convert 81 degrees F to Kelvin 
temp = degrees_FtoK(81)

Use the `degrees_FtoK` function to find convert the following temperatures from Fahrenheit to Kelvin. -459.67&#8457;, 32&#8457;, and 98.6&#8457;

In [10]:
# Exercise
temp1 = degrees_FtoK(-459.67)
temp2 = degrees_FtoK(23.85)
temp3 = degrees_FtoK(67.34)

print(temp1)
print(temp2)
print(temp3)

0.0
268.62222222222226
292.78333333333336

Functions can perform multiple calculations and use more than one argument, they can even return more than one thing, or nothing at all. They can incorporate lots of things including other functions inside of your function - aka nested functions (we won't be going over nested functions in this workshop, but feel free to look them up).

**Discussion Question: When would I want to use a function?**

### <center>  * * * Good Coding Practice Moment * * * </center>
#### How to define a function:
    
<img src = "images/explain_functions.png">
    
1. `def` is how you tell the computer you want to define a function.
2. The title of the function - This is how you will call the function.
3. The inputs to your function (if you have more than one, separate with commas)
4. If you don't put a colon here, it will cause an error
5. It is good coding practice to include a comment that describes what the function is trying to do, I like to include a list of inputs and outputs as well in case I forget what the variables mean. 
6. Notice that everything inside the function is indented. Anything that isn't indented won't be included in the function. Your editor usually does the indent for you automatically. 
7. If you want to output a value, put return and then the names of the variables you wish to return (separated by commas if there are more than one.

### <center> * * * * * * * * * * * * * * * * * * * * * * * * * * * * <center>

Functions can perform multiple calculations and use more than one argument. They can incorporate loops, conditionals, and other functions inside of your function - aka nested functions (we won't be going over nested functions in this workshop, but feel free to look them up).

In [ ]:
# EXAMPLE
def area(width, height):
    area = width*height
    return area

area(2,4)

In [15]:
# EXERCISE
# Create a function that takes in a circle's radius and calculates its area

def circleArea(r):
    area = 3.14*r**2
    return area

b = circleArea(2)
b

12.56

In [16]:
# EXERCISE
# Create a function that takes in a triangle's base and height and calculates its area
# Use the variables b for base and h for height

def triangleArea(base,height):
    area = base*height/2
    return area

c = triangleArea(4, 10)
c

20.0

Be careful when defining variables within functions. They are **local** variables and can only be accessible within the function - if you try to use them outside of the function, you will get an error. **Global** variables are those that are defined outside of the function. They can be used throughout the program.

In the example below, what variable is global? Local?

In [17]:
# EXAMPLE

# global variable
g = 9.8 #acceleration due to gravity

def findWeight(mass):
    fg = mass*g #local variable
    return fg
    
weight = findWeight(10)
weight

98.0

### 1.3 Importing Libraries <a id='subsection3'></a>

In order to do more with Python, we have to import libraries. Libraries contain functions and variables that you can use in your code.

For example, using the tools you have now, how would you get pi using Python? Recite it from memory? That is not very convient.

In [ ]:
# EXAMPLE 

import math

math.pi

In [19]:
#EXERCISE
#Rewrite your function earlier that calculated a circle's area so that it uses math.pi
import math

def circleArea(r):
    area = math.pi*r**2
    return area

b = circleArea(2)
b

12.566370614359172

Do you notice anything different in the output now that you are using math.pi?

You can look at interesting functions/variables that you have when you import the [math library](https://docs.python.org/3/library/math.html#)!

---
# Lists<a id='section2'></a>

List is a data structure that allows you to save multiple objects. In comparison with strings, lists can contain different data types/objects. Strings can only store textual data.

In [20]:
# EXAMPLE

new_lst = [2, "name", 3, "berkeley"]
new_lst

[2, 'name', 3, 'berkeley']

In [21]:
# here's how you can create an empty list

empty_lst = []
empty_lst

[]

Discussion: Why would you want to have an empty list?

Don't ever call your list "list". This is a reserved name for a function in Python. It is easy to tell (in Jupyter Notebooks) whether something is a function/method. When you enter it, it will be in green in your code cell.

In [ ]:
list

Let's see how we can use this function on a string. Save your name in the variable "name" first.

In [24]:
# EXERCISE

name = "Samiksha"

list(name)

['S', 'a', 'm', 'i', 'k', 's', 'h', 'a']

Discuss: Looking at the above example, what do you think the `list` function is doing?

Every value that is stored in the list has its "address", also known as its index position. By using the index position, we can get any particular value from the list. 

All index value starts from 0. Python reads the list from left to right in default. If we want to call a value stored in a specific index position, we have to specify the index position with the variable name.

In [ ]:
# EXAMPLE

teamColors = ["Purple", "Blue", "Green", "Yellow"]
teamColors

In [ ]:
teamColors[0]

In [27]:
# EXERCISE

#Grab "Green" from the teamColors list
teamColors = ["Purple", "Blue", "Green", "Yellow"]
teamColors[2]

'Green'

In [28]:
# EXERCISE

#Grab "Yellow" from the teamColors list

teamColors = ["Purple", "Blue", "Green", "Yellow"]
teamColors[3]

'Yellow'

Another way we can use lists, is to store data that belongs together, For example instead of having a variable `pos_x` and another `pos_y`, we can save them in a single list `position = [pos_y, pos_x]`

In [ ]:
# EXAMPLE

pos_x = 0
pos_y = 1

position = [pos_x, pos_y]
position

### 2.1 List Iteration and Slicing `[ : ]`<a id='subsection4'></a>

In [38]:
# Let's create a list of school subjects for this section

subjects = ["Math", "Physics", "English", "PE"]

To iterate through the list, you can use square brackets with an index of an object you are interested in. Like so:

In [ ]:
# remember that Python, like many programming languages, starts counting from 0.

subjects[3]

Notice also that each component of the list separated by a comma is a single object. So the list inside of the list will be a single object. If you want to iterate through a list inside of the list, you will need to use the square brackets twice. Like we did here:

In [ ]:
# EXAMPLE

subjects[3][0]

You can also replace the objects in the list:

In [39]:
# EXAMPLE

subjects[0] = "Calculus"
subjects

['Calculus', 'Physics', 'English', 'PE']

To get more than one element from you list, use the syntax: `list[start:stop]`

Remember that you will get elements up to index stop-1


To demonstrate this it is helpful to use a list of numbers.

In [36]:
# EXAMPLE

myList = [0,1,2,3,4,5,6,7,8,9,10]
print(myList)

myList[0:2]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[0, 1]

It works the same with a list a strings.

In [ ]:
subjects[0:2]

You can also slice with steps - list[start:stop:step]

Again, you will get elements up to index stop-1

In [30]:
# EXAMPLE
print(myList)
myList[0:8:2]

NameError: name 'myList' is not defined

In [ ]:
# EXAMPLE

myList[0:7:2]

Why do the two examples above produce produce the same result? Enter your thoughts here in this cell. 


...

Think about what you expect the following example to produce before you run the next cell.

In [ ]:
# EXAMPLE

myList[2:11:4]

In [33]:
# EXERCISE
# Use slicing to output all the even values in myList

myList = [0,1,2,3,4,5,6,7,8,9,10]
myList[0:11:2]

[0, 2, 4, 6, 8, 10]

In [34]:
# EXERCISE
# Use slicing to output all the odd values in myList

myList = [0,1,2,3,4,5,6,7,8,9,10]
myList[1:10:2]

[1, 3, 5, 7, 9]

In [35]:
# EXERCISE
# Use slicing to output the following values: [2, 5, 8]

myList = [0,1,2,3,4,5,6,7,8,9,10]
myList[2:9:3]

[2, 5, 8]

In [37]:
# EXERCISE
# Use slicing to output the following values: [1, 5, 9]

myList = [0,1,2,3,4,5,6,7,8,9,10]
myList[1:10:4]

[1, 5, 9]

In [40]:
# EXERCISE
# Use slicing to only get the subjects Calculus and English
subjects = ["Calculus", "Physics", "English", "PE"]
subjects[0:3:2]

['Calculus', 'English']

**Challenge:** For the following list of planets, do the following:
<ol>
    <li>Update Neptune to Mercury</li>
    <li>Slice the list to grab Jupiter, Mars, and Earth</li>

In [41]:
#EXERCISE - LIST OF PLANETS
planets = ["Jupiter", "Mars", "Earth", "Saturn", "Neptune"]
planets

['Jupiter', 'Mars', 'Earth', 'Saturn', 'Neptune']

In [44]:
#Update Neptune to Mercury

planets[-1] = "Mercury"

planets

['Jupiter', 'Mars', 'Earth', 'Saturn', 'Mercury']

In [43]:
#Use slicing to grab Jupiter, Mars, and Earth

planets[0:3]

['Jupiter', 'Mars', 'Earth']

### 2.2 Adding Elements<a id='subsection5'></a>

To add elements to a list, we can use a few functions. The ones we will show you today are built-in functions **insert** and **append**.
Append function is used to add value to the existing list. Just use the append keyword and add the name. The new value will be added at the end of the list.

In [45]:
# EXAMPLE

trees = ["Sequoia", "Palm Tree", "Joshua Tree"]

# to add an element to the end of the list, we can use "append"

trees.append("Pine Tree")
trees

['Sequoia', 'Palm Tree', 'Joshua Tree', 'Pine Tree']

We use the **insert** function to insert the value into the list. The insert function allows us to insert the value at a **specific index position**. Be careful when using insert function, you actually need to specify the position at which you are inserting an element.

The element that exists at the specified index will shift to the next index. All the elements after that index will increment by 1 as well.

Be careful when using insert function, you actually need to specify the position at which you are inserting an element.

In [ ]:
# EXAMPLE

trees.insert(2, "Redwood")
trees

In the cell below, add Douglas Fir to the second position in the trees list.

In [46]:
# EXERCISE

trees.insert(1, "Douglas Fir")
trees

['Sequoia', 'Douglas Fir', 'Palm Tree', 'Joshua Tree', 'Pine Tree']

Methods **insert** and **append** are not the only ways to add elements to a list. The most commonly used way to add elements to lists is using **+=** signs. The way you can think about it is **+** adds an element and **=** reassigns the variable.

In [62]:
# EXAMPLE

veg = ["zucchini", "cucumber"]

veg+= ["potato"]
veg

['zucchini', 'cucumber', 'potato']

### <center>  * * * Good Coding Practice Moment * * * <center>
#### What is += ?

When you want to write an equation that modifies a variable but doesn't change it's name you can combine operators as follows
    
          a = a+2          is the same as             a += 2
          b = b-2          is the same as             b -= 3
          c = c*4          is the same as             c *= 4
          d = d/5          is the same as             d /= 5
    

### <center> * * * * * * * * * * * * * * * * * * * * * * * * * * * * <center>

The important thing to remember is that **+** can only work with elements of the same type. If you want to add somthing to a list, the element must be in the form of a list as well. Let's see what would happen if we will try to add a non-list element to a list.

In [63]:
veg += ["bell pepper"]
veg

['zucchini', 'cucumber', 'potato', 'bell pepper']

Now practice adding your own vegetable of choice to the list **veg**. 

**Note:** Since **veg** is in the form of a list, the element you add to it should also be in a form of a list.

In [64]:
# EXERCISE

veg += ["carrot"]
veg

['zucchini', 'cucumber', 'potato', 'bell pepper', 'carrot']

### 2.3 Deleting Elements<a id='subsection6'></a>

Python has three built-in functions and methods for deleting elements from a list.

In [71]:
random_list = ['Zoom', 1, 7, 9, "Python", "Berkeley"]

Method **del** works with indices and allows for the deletion of parts of the list through slicing.

In [72]:
# EXAMPLE 

del random_list[0:1]

random_list

[1, 7, 9, 'Python', 'Berkeley']

Make sure that you specify which elements you want to delete or it will delete the entire list.

In [73]:
del random_list
random_list

NameError: name 'random_list' is not defined

Method **.pop(  )** works with indices. It is the last symbol/character/object by default. But you can add a specific index.

In [74]:
# EXAMPLE 

random_list = ['Zoom', 1, 7, 9, "Python", "Berkeley","Python"]

random_list.pop()

'Python'

In [75]:
# EXAMPLE 

random_list.pop(0)

'Zoom'

Notice that **.pop(  )** outputs the thing it removed from the list. Can you think of a reason why this would be useful?

In [76]:
# EXAMPLE 

state = ["California", "is", "on the", "West Coast"]
print(state)
last = state.pop()
print(state)
print(last)

['California', 'is', 'on the', 'West Coast']
['California', 'is', 'on the']
West Coast

Another method you can use for lists is **.remove**. This method uses the exact values (case matters too).

In [77]:
# EXAMPLE 

random_list.remove("Python")
random_list

[1, 7, 9, 'Berkeley']

(Note that this method removes all the instances of "Python")

In the cell below, delete three elements with the help of three different methods shown above.

In [80]:
# EXERCISE

majors = ["Cognitive Science", "Data Science", "Biology", "Chemistry", "American Studies"]

#first method
del majors[0:1]
print(majors)


#second method
majors.pop()
print(majors)


#third method
majors.remove("Biology")
print(majors)

['Data Science', 'Biology', 'Chemistry', 'American Studies']
['Data Science', 'Biology', 'Chemistry']
['Data Science', 'Chemistry']

### 2.4 Length of a list<a id='subsection7'></a>

Built-in function **len(   )** can also be used to figure out the length of a list. The len(): function can be used to find the total count of elements in a list.

In [81]:
# EXAMPLE 
# Before running this cell, think what the output will be.

countries = ["USA", "Belarus", "Mexico", "Poland"]
len(countries)

4

When used with lists, it counts only the "outer" objects. Meaning, if there are lists inside of your list, no matter however many objects each of them has, the len(  ) will count the whole list as a single object.

In [82]:
random = [[1,2,3,4],[4,5,6]]

# Before running this cell, can you guess the output it will give you?

len(random)

2

### 2.5 Operations on a list<a id='subsection8'></a>

In [83]:
# EXAMPLE

my_numbers = [1, 2, 3, 4, 5]

my_numbers + 2

TypeError: can only concatenate list (not "int") to list

As you can see above, Lists do not support "+" as a addition, rather the "+" operator combines, or **concatenates** multiple lists. In order to concatenate, or glue elements together, they must the same data type or data structure.

In [84]:
list_one = [1, 2, 3]
list_two = [4, 5, 6]
list_three = list_one + list_two
list_three

[1, 2, 3, 4, 5, 6]

Can you guess the output of the next cell?

In [85]:
# EXAMPLE

my_numbers * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

---
# Dictionaries<a id='section3'></a>

Dictionaries are used to store data values in **key:value** pairs. A dictionary is a collection which is ordered, changeable, and do not allow duplicates.

In [86]:
#A dictionary of passwords (keys) for various services (values)

myPasswords = {
    "Netflix" : "123456",
    "Instagram" : "incorrect",
    "Gmail" : "pa$$w0rd"
}

myPasswords

{'Netflix': '123456', 'Instagram': 'incorrect', 'Gmail': 'pa$$w0rd'}

You can use the key name to retrieve values:

In [87]:
myPasswords["Netflix"]

'123456'

Another method is using the get() function:

In [88]:
myPasswords.get("Netflix")

'123456'

Duplicates are **not** allowed in dictionaries. This means that if you have a duplicate key, the value will be overwritten:

In [89]:
myPasswords = {
    "Netflix" : "123456",
    "Instagram" : "incorrect",
    "Gmail" : "pa$$w0rd",
    "Gmail" : "n3wpa$$w0rd"
}

myPasswords

{'Netflix': '123456', 'Instagram': 'incorrect', 'Gmail': 'n3wpa$$w0rd'}

Values in a dictionary can be of any type! (You can also use integers and floats for keys instead of strings)

In [90]:
myPasswords = {
    "Netflix" : 123456,
    "Instagram" : "incorrect",
    "Gmail" : "pa$$w0rd",
    "Spotify" : ["forgot", "my", "password"]
}

myPasswords

{'Netflix': 123456,
 'Instagram': 'incorrect',
 'Gmail': 'pa$$w0rd',
 'Spotify': ['forgot', 'my', 'password']}

Do you have to rewrite the whole dictionary each time to update it? No! You can change, add, and delete values:

In [91]:
#Looks like I found my Spotify password... better update my dictionary:
myPasswords["Spotify"] = 789

myPasswords

{'Netflix': 123456,
 'Instagram': 'incorrect',
 'Gmail': 'pa$$w0rd',
 'Spotify': 789}

In [92]:
#Similarly we can add a key:value pair:

myPasswords["Uber"] = "toomanypasswords"

myPasswords

{'Netflix': 123456,
 'Instagram': 'incorrect',
 'Gmail': 'pa$$w0rd',
 'Spotify': 789,
 'Uber': 'toomanypasswords'}

In [93]:
#Deleting is similar to lists - use pop() or del

myPasswords.pop("Instagram")
del myPasswords["Spotify"]

myPasswords

{'Netflix': 123456, 'Gmail': 'pa$$w0rd', 'Uber': 'toomanypasswords'}

In [94]:
#And we can empty the whole dictionary using clear!

myPasswords.clear()
myPasswords

{}

**Challenge:** You are going to go grocery shopping for apples, beans, and cheese.
Create a dictionary called shoppingList that uses integer values as keys.

After creating the dictionary, add several items of your choice in your dictionary.

In [106]:
shoppingList = {
    1 : "carrots",
    2 : "ice cream",
    3 : "bread"
}

shoppingList[4] = "eggs"
shoppingList

{1: 'carrots', 2: 'ice cream', 3: 'bread', 4: 'eggs'}

In [107]:
#Add some items to your shopping list

shoppingList[5] = "chocolate"
shoppingList

{1: 'carrots', 2: 'ice cream', 3: 'bread', 4: 'eggs', 5: 'chocolate'}

Ask a group member to choose an item to remove from your shopping list, then remove it.

In [108]:
#Remove an item
shoppingList.pop(2)
del shoppingList[3]

shoppingList

{1: 'carrots', 4: 'eggs', 5: 'chocolate'}

---
Notebook developed by: Kseniya Usovich, Rachel McCarty, Baishakhi Bose, Alisa Bettale, Laurel Hales